<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.dostan.arrivo.location.update</string>
		<string>com.dostan.arrivo.arrival.check</string>
		<string>com.dostan.arrivo.alarm.cleanup</string>
	</array>
	<key>NSAlarmKitUsageDescription</key>
	<string>This app needs permission to schedule alerts for timers created.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>audio</string>
	</array>
</dict>
</plist>
